
/* GLOOBAL */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

img {
  display: block;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}


/* HEADER */
.page-header {
  border-bottom: 1px solid #E7E9FC;
}

.page-header .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-and-footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4D5AE5;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-and-footer-logo .header-logo-second {
  color: #2E2F42;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin: 0;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  padding: 26px 0;
}

.contact {
  font-style: normal;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
}

.contact-link:hover,
.contact-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: #404bbf
}

.contact-list {
  display: flex;
  gap: 40px;
}


/* HERO */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}


.hero-title {
  color: #FFFFFF;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
  background-color: #2E2F42;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: block;
  font-family:"Roboto", sans-serif;
  font-size: 16px;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  background-color: #4D5AE5;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px 16px 32px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
}

.btn:hover {
  background-color: #404BBF;
}

.btn:focus {
  background-color: #404BBF;
}

.btn:active {
  color: #FFFFFF;
}

.title-two {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  color: #2E2F42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  padding-top: 120px;
}


.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.title-three {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  color: #2E2F42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  flex-direction: column;
}

.advantages-paragraph {
    display: flex;
    width: 264px;
    height: 72px;
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-align: left;
    justify-content: flex-start;
}


.team {
  background-color: #F4F4FD;
}

.our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 72px;
  margin-bottom: 0;
  padding-bottom: 120px;
}

.team-item {
  width: calc((100% - 72px) / 4);
}

.team-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-item .title-three {
  margin-top: 32px;
}

.team-item .team-paragraph {
  margin-top: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 72px;
  margin-bottom: 0;
  padding-bottom: 120px;
}

.portfolio-card-contetn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 16px;
  gap: 8px;
  width: 360px;
  height: 120px;
}


.footer {
  background-color: #2E2F42;
  height: 312px;
}

.footer-information {
  width: 264px;
  height: 120px;
  padding-top: 100px;
  padding-left: 15px;
  }

.footer-paragraph {
  margin-top: 18px;
}

.header-and-footer-logo .footer-logo-second {
  color: #F4F4FD;
}

.footer-logo-second {
  margin-bottom: 16px;
}

.footer-paragraph {
  color: #F4F4FD;
}





