body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

img {
  display: block;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4D5AE5;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}

.logo-second {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2E2F42;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}

.logo-second-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #F4F4FD;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}

.a-nav {
  font-weight: 500;
  font-size: 16px;
  color: #2E2F42;
  letter-spacing: 0.02em;
  line-height: 24px;

}

.a-nav:hover {
  color: #404BBF;
}

.a-nav:focus {
  color: #404BBF;
}

.contact {
  font-size: 16px;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-style: normal;
}

.mailtel-address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.mailtel-address:hover {
  color: #404bbf
}

.mailtel-address:focus {
  color: #404BBF;
}

.title {
  background-color: #2e2f42;
}

.title-one {
  color: #FFFFFF;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
  background-color: #2E2F42;
  text-align: center;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 500;
  background-color: #4D5AE5;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
}

.button:hover {
  background-color: #404BBF;
}

.button:focus {
  background-color: #404BBF;
}

.button:active {
  color: #FFFFFF;
}

.title-two {
  font-weight: 700;
  font-size: 36px;
  color: #2E2F42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.title-three {
  font-weight: 500;
  font-size: 20px;
  color: #2E2F42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

p {
  margin: 0;
  font-size: 16px;
  color: #434455;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.properties {}

.team {
  background-color: #F4F4FD;
}

.our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize
}

.team-card {
  background-color: #FFFFFF;
}


footer {
  background-color: #2E2F42;
}

.p-footer {
  color: #F4F4FD;
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
} */