/* font-family: 'Roboto', sans-serif;
font-family: 'Raleway',sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

img {
  display: block;
}

.header-and-footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4D5AE5;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 24px;
}


.header-and-footer-logo .header-logo-second {
  color: #2E2F42;
}

.header-and-footer-logo .footer-logo-second {
  color: #F4F4FD;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.contact {
  font-size: 16px;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-style: normal;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link:hover,
.contact-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: #404bbf
}

.title {
  background-color: #2e2f42;
  height: 600px;
}

.title-one {
  display: flex;
  color: #FFFFFF;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
  background-color: #2E2F42;
  text-align: center;
  padding-top: 188px;
  margin-left: auto;
  margin-right: auto;
  width: 496px;
}

.btn {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 500;
  background-color: #4D5AE5;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background-color: #404BBF;
}

.btn:focus {
  background-color: #404BBF;
}

.btn:active {
  color: #FFFFFF;
}

.title-two {
  font-weight: 700;
  font-size: 36px;
  color: #2E2F42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.title-three {
  font-weight: 500;
  font-size: 20px;
  color: #2E2F42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.properties {}

.team {
  background-color: #F4F4FD;
}

.our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize
}

.team-card {
  background-color: #FFFFFF;
}


footer {
  background-color: #2E2F42;
}

.footer-paragraph {
  color: #F4F4FD;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E7E9FC;

}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
display: flex;
align-items: center;
margin-left: 76px;
gap: 40px;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-right: 15px;
  gap: 40px;
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
} */